/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProductSans';
  src: url("../assets/fonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TTNormsPro';
  src: url("../assets/fonts/TTNormsPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMono';
  src: url("../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Colors */
:root {
  --background-color: #1d1d1d;
  --surface-color: #222222;
  --surface-top-color: #2d2d2d;
  --surface-bright-color: #333333;
  --onsurface-color: #f4f4f4;
  --onsurface-dark-color: #aaaaaa;
  --primary-color: #60daff;
  --secondary-color1: #0bddb0;
  --secondary-color2: #7e83e6;
  --secondary-color3: #e1d550;
  --error-color: #e54f35;
}

.color-prim {
  color: var(--primary-color);
}
.color-on-surface-dark {
  color: var(--onsurface-dark-color);
}
.color-sec-1 {
  color: var(--secondary-color1);
}
.color-sec-2 {
  color: var(--secondary-color2);
}
.color-sec-3 {
  color: var(--secondary-color3);
}
.bgcolor-surface-top {
  background-color: var(--surface-top-color);
}
.bgcolor-surface-bright {
  background-color: var(--surface-bright-color);
}

/* Defaults / Reset */
*{
  /* display: block; */
  box-sizing: border-box;
  overscroll-behavior: none;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  border: 0;
  /* border: 1px dotted var(--onsurface-color); */
  outline: none;
  font-family: "ProductSans";
  letter-spacing: 0.02em;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: var(--onsurface-color);
}

.debug {
  border: 1px dotted var(--error-color);
}

body {
  background-color: var(--background-color);
}

.root {
  height: 100vh;
  display: flex;
}

.main {
  flex: 1;
  padding: 0.5rem;
}

/* Layouts */
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.column {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.nowrap {
  flex-wrap: nowrap;
}
.flex-1 {
  flex: 1;
}
.justify-center {
  justify-content: center;
}
.justify-stretch {
  justify-content: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;  
}
.align-stretch {
  align-items: stretch;
}
.align-start {
  align-items: flex-start;
}
.gap-md {
  gap: 1rem;
}
.gap-sm {
  gap: 0.5rem;
}

.pd-lg {
  padding: 1rem;
}
.pd-md {
  padding: 0.5rem;
}
.pd-x-md {
  padding: 0 0.5rem;
}
.pd-y-md {
  padding: 0.5rem 0;
}
.pd-sm {
  padding: 0.2rem;
}

.spacer-y {
  height: 0.5rem;
}
.spacer-x {
  width: 0.5rem;
}

h1 {
  font-family: 'TTNormsPro';
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--primary-color);
  /* letter-spacing: 0.05em; */
}
h2 {
  font-family: 'TTNormsPro';
  font-size: 1.8rem;
  font-weight: 600;
  /* letter-spacing: 0.05em; */
}
h3 {
  font-size: 1.1rem;
  font-weight: normal;
  color: var(--onsurface-color);
}

/* Inputs */
input, button {
  border-radius: 10px;
  padding: 0.6em 1.2em;
  color: var(--onsurface-color);
  background-color: var(--surface-top-color);
  font-size: 1.1em;
}
button {
  cursor: pointer;
  border-radius: 50px;
  /* font-weight: bold; */
}
button:hover {
  background-color: var(--primary-color);
}
button:active {
  background-color: var(--secondary-color2);
}

input[type="checkbox"] {
  padding: 1rem;
}

/* Specifics */
.card {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: stretch;
  padding: 1rem;
  background-color: var(--surface-color);
  border-radius: 10px;
}

.taskgroupcard {
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  background-color: var(--surface-top-color);
  border-radius: 10px;
}

.taskcard {
  flex: 1;
  display: flex;
  /* background-color: var(--surface-top-color); */
  background-color: transparent;
  border-radius: 8px;
}

.inline-input {
  flex: 1;
  display: flex;
  padding: 0 0.1rem;
  background-color: transparent;
  border-radius: 0;
}
